<!doctype html>
<html>
<head>
    <title>刷脸登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/jquery.facedetection.min.js') }}"></script>
    <style media="screen">
      body{
        margin: 0;
        padding: 0;
      }
      video, canvas {
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        width: 100%;
        height:100%;
      }
    </style>
</head>
<body>
    <h1>刷脸登录</h1>
    <h3 id="msg"></h3>
      <video id="video" preload autoplay loop muted></video>
      <canvas id="canvas_rect"></canvas>
      <canvas id="canvas" style="display:none"></canvas>
    <button id="post" class="ui teal right labeled icon button">
      <i class="checkmark icon"></i>识别
    </button>
    <div id="imgs">
      <img id="img" style="max-width:100%;">
    </div>
    <script>
      window.onload = function() {

        //得到网页大小，暂时没用上。
        var width=$(window).width();
        var height=$(window).height();

        //video
        var video = document.getElementById('video');
        //canvas
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');




        //框人脸的
        var canvas_rect = document.getElementById('canvas_rect');
        var context_rect = canvas_rect.getContext('2d');



        //开启视频
        navigator.getUserMedia = navigator.getUserMedia ||
                           navigator.webkitGetUserMedia ||
                           navigator.mozGetUserMedia;

        if (navigator.getUserMedia) {
           navigator.getUserMedia({ audio: true, video: { width: width, height: height} },
              function(stream) {
                 video.src = window.URL.createObjectURL(stream);
                 video.onloadedmetadata = function(e) {
                   video.play();

                   //取得视频高度和宽度（非dom元素）
                   var width=video.videoWidth;
                   var height=video.videoHeight;
                   //设置画布宽度高度和视频一致

                   $('#canvas_rect').attr('width',width);
                   $('#canvas_rect').attr('height',height);

                   var interval_id=null;
                   var loop=true;//默认设置成可以循环
                   function checkface(){
                     $('#video').faceDetection({
                          complete: function (faces) {
                            face=faces[0];
                            if(face!=undefined){
                              //console.log(face);

                              //清除画布
                              context_rect.clearRect(0,0,width,height);
                              context.clearRect(0,0,width,height);

                              //得到 脸部的坐标和大小
                              x=face.x;
                              y=face.y;
                              w=face.width;
                              h=face.height;

                              //设置颜色粗细等
                              context_rect.strokeStyle = '#ff0';
                              context_rect.lineWidth="6";
                              context_rect.font = '11px Helvetica';
                              context_rect.fillStyle = "#fff";
                              //绘制框选
                              context_rect.strokeRect(x,y,w,h);

                              //按照脸的大小设置画布大小
                              $('#canvas').attr('width',w);
                              $('#canvas').attr('height',h);
                              //把视频中的脸载入进来

                              context.drawImage(video,x,y,w,h,0,0,w,h);
                              //得到 base 64 的编码图像
                              base64img=canvas.toDataURL("image/png").split(",")[1];;
                              //调用API，得到结果。
                              //
                              $('#msg').text("正在识别。。。");
                              $('#post').prop("disabled", true);
                              $.ajax({
                                  url: "/api/face/identify_user",
                                  type: "post",
                                  dataType: "json",
                                  data: {
                                      "img_base64": base64img,
                                  },
                                  async: true,
                                  success: function (json) {
                                    user=json.result[0].user_info
                                    console.dir(json);

                                    if(json.result[0].scores[0]>80){
                                      user=json.result[0].user_info;
                                      uid=json.result[0].uid;
                                      //$('#msg').text("您好，"+user);
                                      window.location.href="/"
                                    }else{
                                      $('#msg').text("未找到该用户");
                                    }

                                    $('#post').prop("disabled", false);
                                  },
                                  error: function (json) {
                                      console.dir(json);
                                      $('#post').prop("disabled", false);
                                  }
                              });
                            }
                          }
                      });
                   }
                     interval_id=setInterval(function(){
                       //base64img=canvas.toDataURL("image/png");
                       //context.drawImage(video, 0, 0, width, height);
                       //img.src=base64img;
                      checkface();
                     },10);
                   //context.drawImage(video, 0, 0, width, height);
                 };
              },
              function(err) {
                 console.log("The following error occurred: " + err.name);
              }
           );
        } else {
           console.log("getUserMedia not supported");
        }
      };
    </script>
  <script>
  var base64="";
  $("#select_pic").change(function () {
      run(this, function (data) {
          $('#img').attr('src', data);
          base64=data.split(",")[1];
      });
  });


  function run(input_file, get_data) {
      /*input_file：文件按钮对象*/
      /*get_data: 转换成功后执行的方法*/
      if (typeof (FileReader) === 'undefined') {
      } else {
          try {
              /*图片转Base64 核心代码*/
              var file = input_file.files[0];
              //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
              if (!/image\/\w+/.test(file.type)) {
                  return false;
              }
              var reader = new FileReader();
              reader.onload = function () {
                  get_data(this.result);
              }
              reader.readAsDataURL(file);
          } catch (e) {
          }
      }
  }
  </script>
</body>
</html>
